<h3>{{ person.name }}</h3>
<ng-form name="form_person" ng-model="person" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" id="name" name="name" ng-model="person.name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input class="span6" type="email" id="email" name="email" ng-model="person.email">
            <span ng-show="form_person.email.$error.email" class="help-inline">Not a valid email</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="affiliations">Affiliations</label>
        <div class="controls">
            <span class="help-block">List of affiliations, one per line. To put a link in use [Anchor Text](http://www.link.com)</span>
            <textarea ng-model="person.affiliations" edit-list="\n" class="span6" rows=4 type="text" id="affiliations"></textarea>
            <span class="help-block" ng-repeat="affiliation in person.affiliations" ng-bind-html-unsafe="affiliation | markdown"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <span class="help-block">Markdown format: <a href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet">help</a></span>
            <textarea class="span6" rows=6 type="text" id="description" description="description" ng-model="person.description"></textarea>
            <span class="help-block" ng-bind-html-unsafe="person.description | markdown"></span>
        </div>

    </div>
    <div class="control-group">
    	<label class="control-label" for="image">Image</label>
        <div class="controls">
            <img ng-src="{{person.image}}">
        </div>
    </div>
   
    <button ng-click="save()" ng-disabled="(!form_person.$dirty) || form_person.$invalid"
            class="btn btn-primary btn-form">Save</button>
   
</ng-form>
 <div class="row">
        <label for="fileToUpload">Select a File to Upload</label><br />
        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
    </div>
    <div ng-show="files.length">
        <div ng-repeat="file in files.slice(0)">
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
            </span>)
        </div>
        <input type="button" ng-click="uploadFile()" value="Upload" />
        <div ng-show="progressVisible">
            <div class="percent">{{progress}}%</div>
            <div class="progress-bar">
                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
        </div>
    </div>
<div pull-left>
    <pre>{{ person | json }}</pre>
</div>
