<h3>{{ person.name }}</h3>
<ng-form name="form_person" ng-model="person" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" id="name" name="name" ng-model="person.name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input class="span6" type="email" id="email" name="email" ng-model="person.email">
            <span ng-show="form_person.email.$error.email" class="help-inline">Not a valid email</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">URL</label>
        <div class="controls">
            <input class="span6" type="url" id="url" name="url" ng-model="person.url">
            <span ng-show="form_person.url.$error.url" class="help-inline">Not a valid URL</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="affiliations">Affiliations</label>
        <div class="controls">
            <span class="help-block">Comma seperated list of affiliations. To put a link in use [Anchor Text](http://www.link.com)</span>
            <textarea class="span6" rows=4 type="text" id="people" people="people" ng-model="person.affiliations" ng-list></textarea>
            <span class="help-block" ng-repeat="affiliation in person.affiliations" ng-bind-html-unsafe="affiliation | markdown"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <span class="help-block">Markdown format: <a href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet">help</a></span>
            <textarea class="span6" rows=6 type="text" id="description" description="description" ng-model="person.description"></textarea>
            <span class="help-block" ng-bind-html-unsafe="person.description | markdown"></span>
        </div>

    </div>
    <button ng-click="save()" ng-disabled="(!form_person.$dirty) || form_person.$invalid"
            class="btn btn-primary btn-form">Save</button>
</ng-form>
<div pull-left>
    <pre>{{ person | json }}</pre>
</div>
