<h3>{{ person.name }}</h3>
<ng-form name="form_person" ng-model="person" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" id="name" name="name" ng-model="person.name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input class="span6" type="email" id="email" name="email" ng-model="person.email">
            <span ng-show="form_person.email.$error.email" class="help-inline">Not a valid email</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="affiliations">Affiliations</label>
        <div class="controls">
            <div class="" ng-repeat="affiliation in person.affiliations">
                <button class="btn btn-danger btn-form" ng-click="remove(affiliation)"><i class="icon-remove icon-white"></i></button>
                <input class="span5" type="text" ng-model="affiliation">
                <div class="span6" ng-bind-html-unsafe="affiliation | markdown"></div>
            </div>
            <button class="btn btn-success btn-form" ng-click="add()"><i class="icon-plus icon-white"></i></button>
            <span class="help-block">List of affiliations. To put a link in use [Anchor Text](http://www.link.com)</span>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <span class="help-block">Markdown format: <a href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet">help</a></span>
            <textarea class="span6" rows=6 type="text" id="description" description="description" ng-model="person.description"></textarea>
            <span class="help-block" ng-bind-html-unsafe="person.description | markdown"></span>
        </div>

    </div>
    <button ng-click="save()" ng-disabled="(!form_person.$dirty) || form_person.$invalid"
            class="btn btn-primary btn-form">Save</button>
</ng-form>
<div pull-left>
    <pre>{{ person | json }}</pre>
</div>
