<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Legacy</th>
        <th>Title</th>
        <th>Contact</th>
        <th>People</th>
        <th>Sample Contexts</th>
        <th>Total Samples</th>
        <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="study in studies | filter:search | orderBy:'name'">
        <td>
            <a ng-show="study.alfresco_node" href="https://alfresco.cggh.org/share/page/folder-details?nodeRef={{ study.alfresco_node }}">
                <img src="http://a.fsdn.com/con/icons/al/alfresco@sf.net/alfresco.jpg">
            </a>
        </td>
        <td><a href="#/studies/{{ study._id }}" ng-bind-html-unsafe="study.name | highlight:search">
            </a>
        </td>
        <td><div href="#/studies/{{ study._id }}" ng-bind-html-unsafe="study.legacy_name | highlight:search"></div></td>
        <td ng-bind-html-unsafe="study.title | cut:true:300 | highlight:search"></td>
        <td><div ng-repeat="contact_person in study.contact_persons"><a href="#/contact_persons/{{ contact_person._id }}"  ng-bind-html-unsafe="contact_person.name | highlight:search"></a></div></td>
        <td>{{ study.people.length }}</td>
        <td ><p ng-class="context.name" ng-repeat="context in study.sample_contexts | orderBy:'name'"><span>{{ context.samples.length }}:</span><span ng-bind-html-unsafe="context.name | highlight:search"></span></p></td>
        <td>{{ study.sample_count }}</td>
        <td>
            <a href="#/studies/{{study._id}}/edit"><i class="icon-pencil"></i></a>
        </td>
    </tr>
    </tbody>
</table>