{% extends "layout.html" %}
{% block body %}
<div ng-app=myApp ng-controller="ObjCtrl" collection="{{ collection }}" objid="{{ object['_id'] }}">
    <h3>{{ collection }}/{% raw %}{{ data.name }}{% endraw %}</h3>
    <ng-form name="form_data" ng-model="data" class="form-horizontal well-small">
        {% for key in dataspec %}
            <div class="well well-small" ng-class="{error: form_data.{{ key }}.$invalid}">
                <label>{{ key }}:</label>
                <div>{{ dataspec[key].html('data.'+key) | safe }}</div>
            </div>
        {% endfor %}
        <button ng-click="save()" ng-disabled="(!form_data.$dirty) || form_data.$invalid"
                class="btn btn-primary btn-form">Save</button>
    </ng-form>
    {% raw %}
    <div class="well">
        {{ data }}
    </div>
    {% endraw %}

</div>
{% endblock %}

